@import "tailwindcss";

@theme {
  --color-wedding-bg: #F8F5F0;
  --color-wedding-dark: #1C1B19;
  --color-wedding-muted: #77716A;
  --color-wedding-accent: #B79B72;
  --color-wedding-light: #FFFFFF;

  --font-serif: var(--font-cormorant);
  --font-sans: var(--font-inter);
}

@utility grain {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-wedding-bg);
  color: var(--color-wedding-dark);
  overflow-x: hidden;
}
